html, body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

p.intro {
    background-image: url("black_back.png");
    color: #fff;
    position: relative;
    width: auto;
    height: 400px;
}

.topnav {
    background-color: black;
    color: #333;
    overflow: hidden;
}

.topnav l {
    background-color: #000;
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav r {
    background-color: #000;
    float: right;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav l:hover {
    background-color: #fff;
    color: #000;
}

.topnav l:active {
    background-color: #fff;
    color: #000;
}

.topnav r:hover {
    background-color: #fff;
    color: #000;
}

.topnav a:active {
    background-color: #fff;
    color: #000;
}

.topnav a {
    background-color: #000;
    float: right;
    color: #fff;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #fff;
    color: #000;
}

.midleft {
    position: absolute;
    top: 64px;
    color: #fff;
    left: 25px;
    font-size: 25px;
}