html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

nav.sticky {
    position: sticky;
    top: 0;
    margin: 0;
    width: auto;
    font-family: 'Roboto', sans-serif;
    color: #000;
    z-index: 2;
}

.intro {
    background-color: black;
    color: #fff;
    position: relative;
    width: auto;
    height: 700px;
    border-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Serif', Georgia;
}

.topnav {
    background-color: black;
    color: white;
    overflow: hidden;
}

.topnav l {
    background-color: black;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav r {
    background-color: black;
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav l:hover {
    background-color: white;
    color: black;
}

.topnav l:active {
    background-color: white;
    color: black;
}

.topnav r:hover {
    background-color: black;
    color: white;
}

.topnav a:active {
    background-color: black;
    color: white;
}

.topnav a {
    background-color: black;
    float: right;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: white;
}

.midleft {
    position: relative;
    font-style: italic;
    top: 225px;
    color: #fff;
    left: 100px;
    font-size: xxx-large;
    font-family: cursive sans-serif;
}

.under {
    position: relative;
    font-style: italic;
    top: 230px;
    color: #fff;
    left: 100px;
    font-size: x-large;
    font-family: cursive sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

.about {
    position: relative;
    font-size: large;
    text-align: center;
    position: center;
    background-color: black;
    color: white;
    word-wrap:normal;
    padding-right: 25%;
    padding-left: 25%
}


